:root {
  font-family: 'StormTypeRegula', 'Georgia', 'Garamond', 'EBGaramond', 'UrzaGaramond', 'Baskerville Old Face', 'Baskerville', 'Bookman Old Style', serif;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

header {
  background-image: url('banner.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vw;
  max-height: 300px;
}

header h1 {
  visibility: hidden;
  margin: 0;
}

main {
  max-width: 470px;
  margin: auto;
  padding: 40px 20px;
  margin-bottom: 70px;
  text-align: center;
}
